.form-wrap {
  position: fixed;
  z-index: 10;

  width: 100vw;
  height: 48px;

  background-color: royalblue;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.search-form {
  position: relative;
  display: inline-block;
}

.search-form input {
  display: inline-block;

  border: none;
  border-radius: 4px;

  outline: none;

  padding: 4px;
  padding-right: 32px;

  font-size: 0.9em;
  line-height: 1;
}

.search-form button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 32px;

  cursor: pointer;

  border: none;
  border-radius: 0 4px 4px 0;

  color: royalblue;
  background-color: whitesmoke;
}
